@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-color: #eeeeee;
}

#app {
    font-family: 'Montserrat', sans-serif;
    color: #0300bb;
    background-color: white;
    width: 500px;
    margin: auto;
    text-align: center;
    border-radius: 12px;
    padding: 3px;
    box-shadow: 1px 1px rgb(92, 92, 92);
}

label {
    margin-left: 15px;
}

.desc {
    margin-right: 222px;
}

.notas {
    margin-left: 15px;
    width: 66px;
    background-color: rgb(222, 222, 222);
}
.labels {
    text-align: left;
}

.hrs {
    background-color: #0300bb;
    width: 300px;
    height: .1px;
}

#button {
    margin-bottom: 20px;
    background-color: #0300bb;
    color: white;
}

#button:hover {
    transition: 350ms;
    background-color: #9997ee;
}

input {
    border: 0px;
    border-radius: 4px;
}

input:focus {
    outline: none;
}